<div class="article">
    <div class="thumbnail">
        <img src="${story.image.tbUrl}" width="${story.image.tbWidth}" title="${story.image.publisher}">
        <h1 class="text-center title" >${story.title}</h1>
        
    </div>
    <div class="box">
        <img src="${story.image.url}">
        <small class="publisher">${story.publisher}</small>
        <p class="content">${story.content}</p>
        <small class="publishedDate">${story.publishedDate}</small>
        <a href="${story.unescapedUrl}" target="_blank" class="url">read more</a>
        <div class="related-box" >
            <h1>Related</h1>
        	<div class="relatedStories" >
            
            </div>
        </div>
    </div>
</div>
